<div class="container py-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Descripción del Hotel</li>
    </ol>
  </nav>

  <div class="row row-col-12 row-cols-md-12 row-cols-lg-6 row-cols-xl-6">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngCuYNxD6MXs-ihv_N4uBBCEZLkMp5jIrYn5VzW=s900-c-k-c0x00ffffff-no-rj"
              class="d-block img-fluid w-auto" alt="..." style="max-height: 350px; min-height: 350px;">
          </div>
          <div class="carousel-item">
            <img
              src="https://media-exp1.licdn.com/dms/image/C4E0BAQFDuWJd52XeAw/company-logo_200_200/0/1551819205162?e=2159024400&v=beta&t=vp7jtkG_8Nr9-JByiEXrlLgxgLJ2s_MJofrJECUMlwo"
              class="d-block img-fluid w-auto" alt="..." style="max-height: 350px; min-height: 350px;">
          </div>
          <div class="carousel-item">
            <img src="https://yt3.ggpht.com/ytc/AAUvwngCuYNxD6MXs-ihv_N4uBBCEZLkMp5jIrYn5VzW=s900-c-k-c0x00ffffff-no-rj"
              class="d-block img-fluid w-auto" alt="..." style="max-height: 350px; min-height: 350px;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <h2 class="text-center">Hotel DEcameron</h2>
      <p class="mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, a dolore maiores sed nemo
        quasi. Aliquid
        commodi deleniti at, necessitatibus corporis blanditiis unde excepturi! Repellat dolores dolorem alias quas
        aspernatur dolore, iste tenetur nisi deleniti quidem. Totam voluptate dolore veniam itaque quasi mollitia qui
        eveniet.</p>
      <div class="mt-2 ">
        <p class="card-text py-0 mb-0 clasificacion"> Categoria:
          <label>★</label>
          <label>★</label>
          <label>★</label>
          <label>★</label>
          <label>★</label>
        </p>
        <p class="card-text mb-0">
          Precio: $ 520 UDS
        </p>
      </div>
    </div>
  </div>

  <view-calificacion></view-calificacion>
</div>
